.nav{
    width: 100%;
    min-height: $header-height;
    background-color: $black-color;
    padding: 0 56px;
    display: flex;
    align-items: center;
    gap: 80px;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

.logo{
    height: 28px;
}

@media screen and (max-width: 1100px) {
    .nav{
        padding: 0 22px;
        gap: 15px;
    }

    .logo{
        z-index: 10;
    }

    .mobile_menu_icon{
        z-index: 10;
    }
}