.header{
    background-color: $white-color;
    padding: 20px 95px 0 95px;
    
}

.header{
    &__search{
        background-color: #F9F9F9;
        border-radius: 6px;
        border: none;
        outline: none;
        padding-left: 34px;
        width: 100%;
        height: 100%;
    }

    &__search_wrapper{
        position: relative;
        min-width: 300px;
    }

    &__search::placeholder{
        color: #D8D8E5;
    }

    &__search_wrapper::before{
        content: '';
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        height: 14px;
        width: 14px;
        background: center / cover no-repeat url(/magnifier.svg) ;
    }

    &__top_group{
        padding-bottom: 20px;

        h1{
            font-weight: 700;
        }
    }

    &__dropdown_group__clear{
        color: $blue-color;
        cursor: pointer;
        text-shadow: 0px 0px 16px #ffffff00;
        transition: all .3s ease;
    }

    &__dropdown_group__clear:hover{
        text-shadow: 0px 0px 16px $blue-color;
        transition: all .3s ease;
        
    }

    .tagline{
        margin: 20px 0;
    }

    .el-collapse{
        border: none;
    }

    :deep(.el-collapse-item__header){
        display: none;
    }

    :deep(.el-collapse-item__wrap){
        border: none;
        border-top: 1px solid var(--el-collapse-border-color);
    }

    :deep(.el-collapse-item__content){
        padding: 0;
    }
}


@media screen and (max-width: 800px) {
    .header{
        padding: 20px 30px 0 30px;;
    }
}

@media screen and (max-width: 640px) {
    .header{
        &__top_group{
            justify-content: space-between;
            row-gap: 10px;

            h1{
                font-size: 24px;
            }
        }

        &__search_wrapper{
            height: 40px                      ;
            order: 3;
        }
    }
}