.mobile_menu_icon{
    position: relative;
    width: 24px;
    height: 18px;
    cursor: pointer;

    &__line{
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: $white-color;
        opacity: .5;
        position: absolute;
        left: 0;

        &-highlighted{
            opacity: 1;
        }
    }

    &__line:nth-child(1){
        top: 0;
        transition: top .5s;
    }

    &__line:nth-child(2){
        top: 50%;
        transition: all .25s .25s;
    }

    &__line:nth-child(3){
        top: 100%;
        transition: all .25s;
    }
}

.mobile_menu .mobile_menu_icon{
    &__line:nth-child(1){
        top: 100%;
        transition: top .5s;
    }

    &__line:nth-child(2){
        top: 100%;
        opacity: 0;
        transition: all .25s;
    }

    &__line:nth-child(3){
        opacity: 0;
        top: 100%;
        transition: all .25s .25s;
    }
}