*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6, p, a, button, div, span, input, input::placeholder{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 120%;
  }

  h1{
    font-size: 32px;
  }

  h2{
    font-size: 22px;
    font-weight: 600;
  }

  h3{
    font-size: 16px;
  }

  p{
    font-size: 16px;
  }

  .caption{
    font-size: 14px;
    color: $light-grey-color;
  }

  a{
    text-decoration: none;
  }

  #app{
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    padding-top: 62px;
  }

  .main{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  input:focus-visible{
    outline: none;
  }

  .grey_dot{
    width: 6px;
    aspect-ratio: 1;
    background: center / cover no-repeat url("/dot.svg");
  }

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #7E8299 #F1F1F2;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #F1F1F2;
}

*::-webkit-scrollbar-track:hover {
  background-color: #F1F1F2;
}

*::-webkit-scrollbar-track:active {
  background-color: #F1F1F2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #7E8299;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #7E8299;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #7E8299;
}

@media screen and (max-width: 640px) {
  h2{
    font-size: 20px;
  }

  p{
    font-size: 14px;
  }
}