$black-color: #000000;
$white-color: #ffffff;
$blue-color: #3E97FF;
$light-blue-color: #EEF6FF;
$dark-grey-color: #7E8299;
$light-grey-color: #A1A5B7;
$background-color: #F1F1F2;
$header-height: 62px;

